.banner {
  background: url(https://images.unsplash.com/photo-1503803548695-c2a7b4a5b875?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  width: 100%;
  height: 500px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  margin-bottom: 0px;
}
.banner h3 {
  background: rgba(0, 0, 0, 0.5);
  height: 500px;
  font-family: "Canela", serif;
  color: #000000;
  padding-top: 210px;
  font-weight: 900;
  font-size: 40px;
}
@media (max-width: 650px) {
  .banner h3 {
    font-weight: 400;
    font-size: 30px;
  }
}
