.footer {
    background: #696969;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Poppins', sans-serif;
    color: #ffff; 
    font-weight: 900;
    width: 100%;
    height: 300px;
    padding-top: 30px;}
  
.footer .contacto {
    text-align: center;
    padding-top: 10px; }
.footer .redes {
    padding-top: 15px; 
    text-align: center;}
.footer .redes a {
    display: inline-block;
    width: 50px;
    height: 50px; }
.footer .redes a img {
     width: 100%; }
.footer .email {
    text-align: center;
    padding-top: 15px; }
.footer .email a {
    color: #FFA500;
}
  
@media (max-width: 575px) {
    .footer {
        grid-template: repeat(3, 1fr) / 1fr ;
    }
}