.pageNotFound {
    background-image: url(https://media.istockphoto.com/photos/error-404-3drendering-page-concept-picture-id1302333331?k=20&m=1302333331&s=612x612&w=0&h=LqLIaSqSAy7ZaBFctIqgkwWea0Tcg88UOrGgDKFcHUs=);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
  }
  .pageNotFound h1 {
    margin-left: 5%;
    margin-top: 5px;
    font-size: 60px;
    font-weight: 900;
    color: #000000;
    font-family: "Canela", serif;
  }

  section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    height: 100%;
  }
  
  @media (max-width: 575px) {
    .pageNotFound {
      width: 100%;
      height: 100vh;
    }
    .pageNotFound > h1 {
      margin-top: 250px;
      font-size: 30px;
      color: #fdf9f8;
    }
    .pageNotFound > h3 {
      font-size: 25px;
      color: #fdf9f8;
    }
  }
  